<% layout("/layouts/boilerplate") -%>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h3 style="margin: 1rem; text-align: center">Create a New Listing</h3>
      <form
        action="/listings"
        method="post"
        novalidate
        class="needs-validation"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="listing[title]"
            placeholder="Enter Title"
            class="form-control"
            required
          />
          <div class="valid-feedback">Title Looks Good !!</div>
          <div class="invalid-feedback">Title required</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            id="desc"
            cols="40"
            rows="5"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Please enter a short Description</div>
        </div>
        <div class="mb-3">
          <label for="image-url" class="form-label">Image Link</label>
          <input
            type="text"
            id="image-url"
            name="listing[image][url]"
            placeholder="Enter Image Link"
            class="form-control"
          />
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label"> Price </label>
            <input
              type="text"
              name="listing[price]"
              placeholder="Enter price"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please enter a valid price</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label"> Country </label>
            <input
              type="text"
              name="listing[country]"
              placeholder="Enter Country"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please Enter a Valid Country</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label"> Location </label>
          <input
            type="text"
            name="listing[location]"
            placeholder="Enter Location"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a valid location</div>
        </div>
        <button type="submit" class="btn create-btn btn-dark mb-3">
          Create
        </button>
      </form>
    </div>
  </div>
</body>
